#htmx-loader {
	--bg-color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 128' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' x='0' y='0' width='128' height='128'%3E%3Cpath fill='%23000' opacity='0.25' d='M 14 64 C 14 36.3854 36.3854 14 64 14 C 91.6146 14 114 36.3854 114 64 C 114 91.6146 91.6146 114 64 114 C 36.3854 114 14 91.6146 14 64 ZM 0 64 C 0 99.3467 28.6533 128 64 128 C 99.3467 128 128 99.3467 128 64 C 128 28.6533 99.3467 0 64 0 C 28.6533 0 0 28.6533 0 64 Z'/%3E%3Cg%3E%3Cpath fill='%23000' d='M 14 64 C 14 36.3854 36.3854 14 64 14 C 67.866 14 71 10.866 71 7 C 71 3.134 67.866 0 64 0 C 28.6533 0 0 28.6533 0 64 L 14 64 Z'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='0.75s' repeatCount='indefinite'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat var(--bg-color);
	background-size: 2rem auto;
}

/* HTMX loader styles */
.htmx-indicator {
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
	opacity: 1;
	visibility: visible;
}